@model IEnumerable<Bertoni.DiegoTorres.Entity.Album>

@{
    ViewBag.Title = "Albums";
}

<link href="~/Content/main.css" rel="stylesheet" />

<div class="panel panel-success">
    <div class="panel-heading">
        <h3>Albums</h3>
    </div>
    <div class="panel-body ">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="albums" class="control-label col-sm-2 margin-20">Choose an album</label>

                <div class="col-sm-7 margin-20">
                    <select id="albums" class="form-control">
                        @foreach (var album in Model)
                        {
                            <option value="@album.Id">@album.Title</option>
                        }
                    </select>
                </div>

                <div class="col-sm-3">
                    <button onclick="showPosts();" class="btn btn-primary">View Album</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel panel-heading">
        <h3>Photos</h3>
    </div>
    <div class="panel panel-body">
        <div class="height">
            <table id="photos" class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>
                            <div class="row hidden-xs">
                                <div class="col-sm-6">
                                    Title
                                </div>
                                <div class="col-sm-2">
                                    Thumbnail
                                </div>
                                <div class="col-sm-2">

                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-footer">
        <div class="text-right">
            <span id="photosRowCount">0</span> rows
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel panel-heading">
        <div>
            <span id="commentsRowCount">0</span> comments for <span id="selectedPhotoTitle"></span>
        </div>
    </div>

    <div class="panel panel-body">
        <div class="table-responsive">
            <table id="comments">
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<table id="photosTemplate" class="nodisplay">
    <tr>
        <td>
            <div class="row">
                <div class="col-sm-6 margin-20">
                    {{titulo}}
                </div>
                <div class="col-xs-6 col-sm-2 margin-20">
                    <a href="{{url}}" target="_blank" title="Abrir imagen">
                        <img src="{{thumbnailUrl}}" width="50" height="50" />
                    </a>
                </div>
                <div class="col-xs-6 col-sm-2 margin-20">
                    <button onclick="showComments({{photoId}}); setCommentTitle('{{titulo}}');" class="btn btn-success">View comments</button>
                </div>
            </div>
        </td>
    </tr>
</table>

<table id="commentsTemplate" class="nodisplay">
    <tr>
        <td>
            <div class="comment">
                <b>Email:</b> <a href="mailto:{{correo}}">{{correo}}</a>
                <div class="">
                    <b>Title:</b> {{nombre}}
                </div>
                <span><b>Comment:</b></span>
                <div class="">
                    {{comentario}}
                </div>
            </div>
        </td>
    </tr>
</table>

<script src="~/Scripts/main.js"></script>