@using Bertoni.DiegoTorres.Entity

@model IEnumerable<Comment>

<div class="panel panel-primary">
    <div class="panel panel-heading">
        <div>
            <span id="commentsRowCount">@Model.Count()</span> comments for <span id="selectedPhotoTitle"></span>
        </div>
    </div>

    <div class="panel panel-body">
        <div class="table-responsive">
            <table id="comments">
                <tbody>
                    @foreach (var comment in Model)
                    {
                        <tr>
                            <td>
                                <div class="comment">
                                    <b>Email:</b> <a href="mailto:@comment.Email">@comment.Email</a>
                                    <div class="">
                                        <b>Title:</b> @comment.Name
                                    </div>
                                    <span><b>Comment:</b></span>
                                    <div class="">
                                        @comment.Body
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
