@using Bertoni.PhotoAlbum.Domain.Entity

@model IEnumerable<Photo>

<div class="panel panel-primary">
    <div class="panel panel-heading">
        <h3>Photos</h3>
    </div>
    <div class="panel panel-body">
        <div class="height">
            <input type="hidden" id="selectedPhotoTitleHidden" name="selectedPhotoTitleHidden" value="" />

            <table id="photos" class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>
                            <div class="row hidden-xs">
                                <div class="col-sm-6">
                                    Title
                                </div>
                                <div class="col-sm-2">
                                    Thumbnail
                                </div>
                                <div class="col-sm-2">

                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var photo in Model)
                    {
                        <tr>
                            <td>
                                @Html.Partial("Partial/PhotoSummary", photo);
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-footer">
        <div class="text-right">
            <span id="photosRowCount">@Model.Count()</span> rows
        </div>
    </div>
</div>