@model Bertoni.PhotoAlbum.Domain.Entity.Comment

<div class="comment">
    <b>Email:</b> <a href="mailto:@Model.Email">@Model.Email</a>
    <div class="">
        <b>Title:</b> @Model.Name
    </div>
    <span><b>Comment:</b></span>
    <div class="">
        @Model.Body
    </div>
</div>
