@using Bertoni.DiegoTorres.Domain.Entity

@model IEnumerable<Comment>

<div class="panel panel-primary">
    <div class="panel panel-heading">
        <div>
            <span id="commentsRowCount">@Model.Count()</span> comments for <span id="selectedPhotoTitle"></span>
        </div>
    </div>

    <div class="panel panel-body">
        <div class="table-responsive">
            <table id="comments">
                <tbody>
                    @foreach (var comment in Model)
                    {
                        <tr>
                            <td>
                                @Html.Partial("Partial/CommentSummary", comment)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
